---
import Logotype from "@/assets/Logotype.astro"
---
<nav class="flex justify-between items-center w-full h-20 px-24 bg-surface-container-lowest">
    <a href="/" class="flex items-center gap-2 text-2xl tracking-tight font-semibold">
        <Logotype />
        MathMethods
    </a>
</nav>