---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
    text: string;
    variant?: "primary" | "secondary" | "tertiary" | "danger";
    shadow?: boolean;
    extraclass?: string;
}

const { text, variant = "primary", shadow = false, extraclass, ...rest } = Astro.props;

const variantStyles = {
    primary: "bg-primary-container text-on-primary",
    secondary: "bg-secondary text-on-secondary",
    tertiary: "bg-tertiary text-on-tertiary",
    danger: "bg-error-container text-on-error-container",
};
---

<button
    class:list={[
        `inline-flex items-center justify-center gap-2 py-2 px-3.5 w-fit h-fit
        rounded-xl font-base font-medium
        transition-transform duration-300 ease-out 
        hover:scale-105 cursor-pointer`,
        variantStyles[variant],
        // Corregido: La sintaxis de objeto es { "clases" : condicion }
        { "shadow-[0px_4px_6px_-4px_rgba(19,127,236,0.20)] shadow-[0px_10px_15px_-3px_rgba(19,127,236,0.20)]": shadow },
        extraclass
    ]}
    {...rest}
>
    {text}
</button>