---
interface Props {
    href: string;
    Icon: any;
    extraclass?: string;
};

const { href, Icon, extraclass } = Astro.props;
---

<a href={`/${href}`} class={`flex justify-center items-center size-12 rounded-full bg-black-primary text-on-primary 
transition-transform duration-250 ease-[cubic-bezier(0.38, 0.49, 0, 1)]
cursor-pointer hover:scale-110 ${extraclass}`}>
    <Icon />
</a>